.view-all-routes {
    display: block;
    padding: 5px;
    font: 1em Helvetica, Arial, sans-serif;
    background-color: #333;
    color: white;
    text-decoration: none;
    text-align: center;
}