<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AspNetWebApi.Core" version="4.0.20126.16343" />
  <package id="Moq" version="3.1.416.3" />
  <package id="MvcContrib.Mvc3.TestHelper-ci" version="3.0.91.0" />
  <package id="NUnit" version="2.5.7.10213" />
  <package id="RhinoMocks" version="3.6" />
  <package id="SpecFlow" version="1.8.1" />
  <package id="System.Json" version="4.0.20126.16343" />
  <package id="System.Net.Http" version="2.0.20126.16343" />
  <package id="System.Net.Http.Formatting" version="4.0.20126.16343" />
  <package id="System.Web.Http.Common" version="4.0.20126.16343" />
</packages>