<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Moq" version="3.1.416.3" />
  <package id="MvcContrib.Mvc3.TestHelper-ci" version="3.0.91.0" />
  <package id="NUnit" version="2.5.7.10213" />
  <package id="RhinoMocks" version="3.6" />
  <package id="SpecFlow" version="1.8.1" />
</packages>